*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --button-green: #596d48;
  --card-bg-color: #f9fafb;
}

@font-face {
  font-family: norse;
  src: url("../Norse-Bold.otf");
}

body {
  font-family: "Lato";
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.form-controls {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.controller-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-text,
.form-controls {
  padding: 8px 30px 8px 30px;
}

.form-controls label {
  font-size: 12px;
  letter-spacing: 1px;
}

.form-text {
  font-weight: bold;
  font-size: 20px;
}

.main {
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  background-image: url(../background-img.avif);
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  right: 0;
  width: 650px;
  background-color: #ffffff;
}

.form-header,
.form-buttons {
  height: 100%;
  padding: 20px;
  background-color: var(--card-bg-color);
}

.form-inputs {
  padding: 20px;
  box-shadow: 0 4px 4px -4px rgb(170, 170, 170);
  z-index: 1;
}

.credit {
  position: absolute;
  bottom: 10px;
  left: 100px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.submit-button,
.log-in {
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--button-green);
  color: white;
  border: 0;
  border-radius: 5px;
}

a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: var(--button-green);
}

.form-controls input {
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  padding: 3px;
}

input[type="password"]:invalid {
  border: 1px solid red;
}

.form-controls input:focus {
  border: 2px solid blue;
  box-shadow: 2px 2px 3px -3px black;
  outline: none;
}

.log-in,
.button-container,
.header-text {
  padding-left: 30px;
}

.logo img {
  width: 100px;
}

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "norse";
  font-size: 80px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  width: 430px;
  height: 150px;
  top: 80px;
}
