*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.form-controls {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.controller-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-text,
.form-controls {
  padding: 8px 30px 8px 30px;
}

.main {
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  background-image: url(../background-img.avif);
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  right: 0;
  width: 650px;
  background-color: #ffffff;
}

.form-header,
.form-buttons {
  height: 100%;
  padding: 20px;
  background-color: #f9fafb;
}

.form-inputs {
  padding: 20px;
  box-shadow: 0 4px 4px -4px rgb(170, 170, 170);
  z-index: 1;
}

.credit {
  position: absolute;
  bottom: 10px;
  left: 100px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-text {
  margin-bottom: 20px;
  font-weight: bold;
}

.submit-button,
.log-in {
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  background-color: darkgreen;
  color: white;
  border: 0;
  border-radius: 5px;
}

a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: darkgreen;
}
